body {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    font-family: Veranda, sans-serif;
    font-style: italic;
    font-size: 25px;
    
    text-align: center;
}
  
.date {
    font-size: 18px;
}